
$transparent: transparent;

$text: rgba(115, 115, 115, 1);

$black-light: rgba(55, 55, 55, 1);
$background-light: rgba(240, 240, 240, 1);

$primary: rgba(222, 5, 124, 1);
$secondary: rgba(40,39,129,1);
$tertiary: rgba(38,189,190,1);
$quaternary: rgba(23, 17, 88, 1);
// $quintenary: rgba(0, 87, 107, 1);
